@{
    ViewBag.Title = "Home";
}

<link href="~/assets/css/HomePage.css" rel="stylesheet" />
<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,300italic,400italic,600italic,600' rel='stylesheet' type='text/css'>
    <link rel="Stylesheet" href="css/master.css" type="text/css" />
    </style>

    <link rel="Stylesheet" href="https://ianlunn.github.io/Hover/css/hover.css" type="text/css" />

    <link rel="Stylesheet" href='https://fonts.googleapis.com/css?family=Muli' type='text/css'>
</head>

<body>
    <nav>
        <ul>
            <li><em><b><a href="#">Home</a></b></em></li>
            <li>
                <em><b><a href="Usuario/Index">Reporte de usuarios</a></b></em>
            </li>
            <li>
                <em><b><a href="Departamento/Index">Reporte de departamentos</a></b></em>
            </li>
            <li>
                <em><b><a href="Documentos/Index">Reporte de documentos</a></b></em>
            </li>
        </ul>
    </nav>

    <div class="welcome">
        Leuris's project
    </div>
</body>

</html>